In [6]:
import pandas as pd

In [12]:
feb_df = pd.read_parquet('../data/yellow_tripdata_2020-02.parquet')
mar_df = pd.read_parquet('../data/yellow_tripdata_2020-03.parquet')

In [ ]:
'''
- VendorID: taxi provider

- tpep_pickup_datetime: pick up time

- tpep_dropoff_datetime: drop off time

- passenger_count: number of passengers

- trip_distance: in miles

- RatecodeID: category of rate price

- store_and_fwd_flag: This flag indicates whether the trip record was held in vehicle
memory before sending to the vendor, aka “store and forward,”
because the vehicle did not have a connection to the server

- PULocationID: pick up zone

- DOLocationID: Drop Off zone

- payment_type: categorical type

- fare_amount: The time-and-distance fare calculated by the meter

- extra: Miscellaneous extras and surcharges. Currently, this only includes
the $0.50 and $1 rush hour and overnight charges

- mta_tax: $0.50 MTA tax that is automatically triggered based on the metered
rate in use

- Improvement_surcharge: $0.30 improvement surcharge assessed trips at the flag drop. The
improvement surcharge began being levied in 2015

- Tip_amount: Tip amount – This field is automatically populated for credit card
tips. Cash tips are not included.

- Tolls_amount: Total amount of all tolls paid in trip. 

- Total_amount: total price

- Congestion_Surcharge: Total amount collected in trip for NYS congestion surcharge

- airport_fee: $1.25 for pick up only at LaGuardia and John F. Kennedy Airports

'''

Pregunta a responder con el dataset: 

- Impacto de la llegada del covid en el uso de Yellow Taxi en NYC: 
 - ¿Existe una manera de caracterizar los lugares más recurrentes para inicio/fin de viaje?
 - ¿Cómo son los viajes típicamente en distancia y tiempo?

Optional: 
 - ¿Podremos segmentar los viajes de alguna manera? (clusterización)
 - ¿Se modifican el Congestion_Surcharge y airport fee? 

Consulta: 

- Deberiamos comparar marzo 2020 con Febrero 2020 o Marzo 2020 con Marzo 2019? Esto seria para evitar algun tipo de estacionalidad en los datos. 

-

In [15]:
mar_df['DOLocationID'].max()

265

In [7]:
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75,0.0,None
1,1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.60,2.5,None
2,1,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80,2.5,None
3,2,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.80,2.5,None
4,2,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0,None

In [9]:
feb_df.shape

(6299367, 19)

In [11]:
feb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6299367 entries, 0 to 6299366
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[us](2), float64(11), int64(4), object(2)
memory usage: 913.1+ MB

In [13]:
mar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3007687 entries, 0 to 3007686
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[us](2), float64(11), int64(4), object(2)
memory usage: 436.0+ MB